<div class="container">
    <h2 class="text-center">Submit a post</h2>
    <form #questionForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Your name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="newPost.author" name="author" required />
      </div>
      <div class="form-group">
        <label for="email">Your email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
          [(ngModel)]="newPost.email"
          name="email"
        />
      </div>
      <div class="form-group">
        <label for="category">Title</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="newPost.title" name="title" required>
      </div>
      <div class="form-group">
        <label for="details">Post Content</label>
      <textarea class="form-control" id="details" rows="5" [(ngModel)]="newPost.content" name="content" required></textarea>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
      <button type="button" class="btn btn-clear" (click)="questionForm.reset()">Clear</button>
      <p>
        {{newPost}}
      </p>
    </form>
  </div>